<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head %>
</head>
<body>
	<header>
		<% include ./partials/header %>
	</header>
	<div class="container centerbox">

		<h1> Welcome </h1>
		<form  action="/event-edit" method="post">
			<div class="form-group">
				<!--label for="code">Enter your event code </label-->
				<input type="text" class="form-control" id="code" aria-describedby="codeHelp" placeholder="Enter the event code">
				<small id="codeHelp" class="form-text text-muted" name="code">You should have received the code ...</small>
			</div>

			<button type="submit" class="btn btn-primary">Edit event</button>
		</form>

		<h2 class="division"><span>or</span></h2>

		<button type="submit" class="btn btn-primary" onclick="window.location.href='/newevent'">Create a new event</button>


	</div>
	<footer>
		<% include ./partials/footer %>
	</footer>
</body>
</html>
